h1 {  
  border-bottom: 1px solid #dddddd
}
img{
  width: 30%;
}
body {
  background-color: #DEF9F8;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  Margin: 10% 10%;
}

.exp-header {
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: rgba(0, 0, 255, 0.09)
}
